@import "../../vars.css";

.container {
  margin-top: 70px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.slidercontainer {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
  -ms-overflow-style: none;  /* for IE and Edge */
  scrollbar-width: none;     /* for Firefox */
  padding: 20px;
}

.slidercontainer::-webkit-scrollbar {
  display: none;             /* for Chrome, Safari, Opera */
}

.title {
  font-size: 35px;
  font-weight: 700;
  font-family: var(--font-poppins);
}

.cardslider {
  display: flex;
  gap: 20px;
}

.sliderwrapper {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: auto;
}

/* Arrows */
.navleft {
  background-color: var(--color-primary);
  color: var(--color-text);
  border: none;
  font-size: 2rem;
  padding: 5px;
  cursor: pointer;
  z-index: 1;
  border-radius: 15%;
  transition: background 0.3s ease;
  margin-right: 5px;
}
.navright {
  background-color: var(--color-primary);
  color: var(--color-text);
  border: none;
  font-size: 2rem;
  padding: 5px;
  cursor: pointer;
  z-index: 1;
  border-radius: 15%;
  transition: background 0.3s ease;
  margin-left: 5px;
}

.nav:hover {
  background-color: var(--color-dark);
}

@media screen and (max-width: 1000px) {
  .container {
    align-items: center;
  }

  .content {
    align-items: center;
  }

  .nav {
    display: none;
  }
  
}


/* .container {
  margin-top: 76px;
  margin-bottom: 76px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.title {
  font-size: 35px;
  font-weight: 700;
  font-family: var(--font-poppins);
}

.projects {
  margin-top: 37px;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

} */
