@import "../../vars.css";

.container {
  position: relative;
  align-items: center;
  padding-top: 45px;
  z-index: 1;
  padding-left: 10%;
  padding-right: 10%;
  background-color: var(--color-bg);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: var(--font-poppins);
  -webkit-text-fill-color: var(--color-text);
  -webkit-background-clip: text;
}

.description {
  font-size: 25px;
  font-weight: 500;
  font-family: var(--font-poppins);
  margin-bottom: 45px;
  text-align: center;
}


@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
  }
}