@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
}

.text h2 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4px;
  font-family: var(--font-poppins);
}

.text p {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: var(--font-poppins);

}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
  font-family: var(--font-poppins);
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
  font-family: var(--font-poppins);
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-family: var(--font-poppins);

}

.link img {
    height: 25px;
    width: 25px;
  }

.link p {
    color: var(--color-text);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.5px;
    font-family: var(--font-poppins);

  }

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    gap: 20px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-poppins);

  }

  .links {
    align-items: center;
    font-family: var(--font-poppins);

  }
}