@import "../../vars.css";

.container {
  color: var(--color-text);
  /* margin-top: 45px; */
  margin-left: 10%;
  margin-right: 10%;
  /* display: grid; */
  
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 600;
  font-family: var(--font-poppins);
  /* letter-spacing: 1.75px; */
  /* text-transform: uppercase; */
}

.content {
  max-width: 100%;
  width: 100%;
  display: grid;
  column-gap: 20px;
  margin-top: 14px;
}

.history {
  width: 100%;
  display: grid;
  flex-direction: column;
  /* grid: 300px 300px / repeat(2, 300px); */
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.historyItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 17px;
  background: var(--color-bg);
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: var(--color-primary);
  padding: 20px;
  font-family: var(--font-poppins);
}

.historyItemDetails {
  font-family: var(--font-poppins);
}

.historyItemDetails h3 {
  font-size: 25px;
  font-weight: 550;
  font-family: var(--font-poppins);
}

.historyItemDetails h4 {
    font-size: 21px;
    font-weight: 500;
    font-family: var(--font-poppins);
  }

.historyItemDetails p {
  font-size: 18px;
  font-weight: 300;
  font-family: var(--font-poppins);
}

.historyItemDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  font-size: 16px;
  list-style-type: disc;
  margin-left: 20px;
  font-family: var(--font-poppins);

}

.historyli {
    font-family: var(--font-poppins);
}

.viewDetailsBtn {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  background-color: var(--color-dark);
  color: var(--color-text);
  border-radius: 6px;
  cursor: pointer;
  font-family: var(--font-poppins);
}

.buttonCenter{
  display: flex;
  justify-content: center;
  margin-top: 1rem;   
}

.modalContainer {
  background: var(--color-bg);
  padding: 24px;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;
  border-color: var(--color-text);
  border-width: 1px;
  border-style: solid;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalItemDetails {
  font-family: var(--font-poppins);
}

.modalItemDetails h3 {
  font-size: 25px;
  font-weight: 550;
  font-family: var(--font-poppins);
}

.modalItemDetails h4 {
    font-size: 21px;
    font-weight: 500;
    font-family: var(--font-poppins);
  }

.modalItemDetails p {
  font-size: 18px;
  font-weight: 300;
  font-family: var(--font-poppins);
}

.modalItemDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  font-size: 16px;
  list-style-type: disc;
  margin-left: 20px;
  font-family: var(--font-poppins);
  text-align: justify;

}

.modalhistoryli {
    font-family: var(--font-poppins);
}


/* Responsive */

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    display: grid;
    align-items: center;
    gap: 34px;
  }

  .history {
    width: 100%;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-column: 1/ 2; */
    font-family: var(--font-poppins);

  }

  .historyItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    background: var(--color-bg);
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: var(--color-primary);
    padding: 20px;
    font-family: var(--font-poppins);
  }
  
  .historyItemDetails {
    font-family: var(--font-poppins);
  }
  
  .historyItemDetails h3 {
    font-size: 20px;
    font-weight: 550;
    font-family: var(--font-poppins);
  }
  
  .historyItemDetails h4 {
      font-size: 18px;
      font-weight: 500;
      font-family: var(--font-poppins);
    }
  
  .historyItemDetails p {
    font-size: 16px;
    font-weight: 300;
    font-family: var(--font-poppins);
  }
  
  .historyItemDetails ul {
    margin-top: 6px;
    list-style-position: inside;
    font-size: 15px;
    list-style-type: disc;
    margin-left: 20px;
    font-family: var(--font-poppins);
  
  }
  
  .historyli {
      font-family: var(--font-poppins);
  }
}