:root{
    /* Colours */
    --color-text: #000000;
    --color-primary: #EFF3EA;
    --color-secondary: #FFF2C2;
    --color-dark: #D9DFC6;
    --color-bg: #fefdf7;

    /* --color-bg1: #f0f0f0;
    --color-bg2: #E1EEBC; */



    /* Fonts */
    --font-roboto: "Roboto";
    --font-poppins: "Poppins";
    --font-arimo: "Arimo";

}