:root{
    /* Colours */
    --color-text: #000000;
    --color-primary: #d8e1a4;
    --color-secondary: #d8e1a4;
    --color-popup: #d8e1a4;
    --color-dark: #c4cc95 ;
    --color-bg: #ffffff;

    /* --color-bg1: #f0f0f0;
    --color-bg2: #E1EEBC; */
    /* fefdf7 */
    /* #EFF3EA */



    /* Fonts */
    --font-roboto: "Roboto";
    --font-poppins: "Poppins";
    --font-arimo: "Arimo";

}